<div class="container">
    <h3 class="p-3">Home</h3>
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item" [ngClass]="selectedCategoryId==0?'active':''"
                    (click)="getProductByCategory(0);">Tümü</li>
                <li *ngFor="let item of categories" class="list-group-item"
                    [ngClass]="selectedCategoryId==item.id?'active':''" (click)="getProductByCategory(item.id);">
                    {{item.categoryName}}</li>
            </ul>
        </div>
        <div class="col-sm-8">
            <app-product-by-category [products]="products"></app-product-by-category>
        </div>
    </div>
</div>