<div style="display:flex;justify-content: center;align-items: center;height:60vh;">
    <div class="col-sm-4">
        <form class="form-signin" #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
            <div class="container-fluid">
                <h2 class="form-signin-heading">Register</h2>
                <div *ngIf="invalidRegister" class="alert alert-danger">User already exists / register user failed.
                </div>
                <br />
                <label for="username" class="sr-only">User Name</label>
                <input type="text" id="username" name="username" ngModel class="form-control" placeholder="User Name"
                    required autofocus>
                <br />
                <label for="email" class="sr-only">Email</label>
                <input type="email" id="email" name="email" ngModel class="form-control" placeholder="Email" required>
                <br />
                <label for="firstname" class="sr-only">First Name</label>
                <input type="text" id="firstname" name="firstname" ngModel class="form-control" placeholder="firstname"
                    required>
                <br />
                <label for="lastname" class="sr-only">Last Name</label>
                <input type="text" id="lastname" name="lastname" ngModel class="form-control" placeholder="lastname"
                    required>
                <br />
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password"
                    required>
                <br />
                <button  class="btn btn-primary form-control" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>